<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>About page</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>

<style>
    .navbar-custom {
        height: 75px;
        padding: 10px 50px 10px 0;
        margin-bottom: 0;
        letter-spacing: 1px;

        color: #93c572;
        background-color: #004040;
    }

</style>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-custom" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: #93c572"> BDBT Spring Boot Project: Athletics Club</a>
        </div>

    </div>
</nav>


<!--Using images in page    -->
<!-- <img th:src="@{/assets/img/img.png}" alt="Image" class="img-fluid"> -->

<div class="bigger-cont" style="background-color: #93c572; height:800px" >
    <div class="container" style=" background-color: rgb(229,228,226); height:800px; padding-right: 60px; padding-left:60px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    </div>

</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
